<div class="starter-template">
  <h1>You finished the reading test!</h1>
  <p class="lead">Thank you for your particapation and is time to take a rest.</p>

  <%= image_tag 'thank_you.gif'%>
  <h2>The last evening before deadline</h2>
</div>
