<div class='row paper'>
  <h2><%= papers.first.name%></h2>
  <%= link_to 'Start reading', papers.first.not_collaborative_url, :class=>'btn btn-primary', :id=>'start_reading', :target=>'_blank'%>
  <%= link_to 'Finish reading', '#', :class=>'btn btn-info', :style=>'display: none;', :id=>'finish_reading'%>
</div>

<div class='row' id='clock-sec'>
  <div class="clock"></div>
</div>
